<div class="flex mb-4">
  <div class="w-full p-6 border border-gray-300 rounded-lg">
    <!-- Chatroom Header -->
    <h2 class="text-xl font-bold mb-2"> <%= chatroom_name %> </h2>
    <p class="text-gray-600 mb-4">
      Members: <%= chatroom.users.pluck(:username).join(", ") %>
    </p>

    <!-- Add Friends Form -->
    <%= form_with model: new_chat_user, local: true do |form| %>
      <!-- Hidden Fields -->
      <%= form.hidden_field :chatroom_id, value: chatroom.id %>

      <div class="mb-4">
        <%= form.label :user_id, "Add Friend to Chatroom", class: "block text-lg font-semibold" %>
        <%= form.collection_select :user_id, friends, :id, :username, { include_blank: "Select a Friend" }, class: "w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" %>
      </div>

      <div>
        <%= form.submit "Add to Chatroom", class: "w-full py-3 px-6 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>

  <!-- Chatroom Link -->
  <div class="pl-4 flex items-center justify-center">
    <%= link_to ")", text_chatroom_path(chatroom.id), class: "h-full w-full flex items-center justify-center border border-indigo-600 text-indigo-600 font-medium px-2 py-2 rounded-lg transition-colors hover:bg-indigo-600 hover:text-white text-center" %>
  </div>
</div>
